* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none !important;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  color: #333;
  font: 14px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 100%;
  padding: 2% 20px 40px;
  position: relative;
  text-align: center;
}

h1 {
  color: #006699;
  font: 2.8rem Boogaloo, sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h2 {
  font: 2.2rem Boogaloo, sans-serif;
  letter-spacing: 2px;
}

.modal {
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  margin: 15% auto;
  max-width: 500px;
  width: 70%;
}

.modal-body {
  padding: 25px;
}

button,
button:active,
button:focus {
  background-color: #006699;
  border: 2px solid #006699;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 3px;
  padding: 8px;
  width: 80px;
}

button:hover {
  background-color: #fff;
  color: #006699;
}

.start,
.start:hover,
.start:active,
.start:focus {
  width: 100px;
}

button .far {
  display: block;
  margin-bottom: 5px;
}

.result {
  font-style: italic;
}

table {
  border-collapse: collapse;
  margin: 30px auto 0;
}

th {
  background-color: #e6e6e6;
  border-bottom: 1px solid #333;
  padding: 6px 12px;
}

td {
  font-size: 2rem;
  padding: 6px;
}

footer {
  background-color: #e6e6e6;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #006699;
}
